@import '~mdb-ui-kit/css/mdb.min.css';
@import '../../mixins';

.rulesandregulation{
    padding: 4.8rem 0;
    .rules-text h5 {
       @include text-gdOne;
       font-size: 2.4rem;
    }
    p {
        font-family: 'sora', sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 25px;
        color: $grey-700;
    }
    ul{
        font-size: 1.4rem;
        line-height: 28px;
    }
}