@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap');

// Ensure global styles are set
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 62.5%; // 1rem = 10px
    font-family: "Sora", sans-serif;
    scroll-behavior: smooth;
}

// Import your mixins
@import 'mixins';


.cus-prim-btn {
    background: $gradientOne;
    padding: 8px 24px !important;
    border-radius: 5px;
    font-size: 16px !important;
    color: white !important;

    &:hover {
        background: $gradientTwo;
    }
}
.fixedSm{
    background: $gradientOne;
    padding: 8px !important;
    border-radius: 5px;
    font-size: 12px !important;
    color: white !important;
    border-radius: 0px 4px 4px 0px !important;
    position: fixed;
    bottom: 0;
    z-index: 99;
    &:hover {
        background: $gradientTwo;
    }
}
button.cus-gr-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 8px 24px 8px 24px;
    gap: 5px;
    border-radius: 4px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #973A64;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: 100% 50%;
        transition: transform 300ms ease-in-out;
    }

    svg {
        width: 32px;
        height: 32px;
    }

    span {
        @include font-style(24px, 400);
        color: white;
    }


    &:hover {
        &::after {
            transform: scaleX(1);
            transform-origin: 0% -50%;
        }
    }

    @include respond-to(md) {
        svg {
            width: 24px;
            height: 24px;
        }

        span {
            @include font-style(48px, 400);
            color: white;
        }
    }

    @include respond-to(sm) {
        svg {
            width: 24px;
            height: 24px;
        }

        span {
            @include font-style(74px, 400);
            color: white;
        }
    }
}

.owl-theme .owl-dots .owl-dot span {
    width: 16px !important;
    height: 16px !important;
    background: #FFAB00 !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #FFAB0040 !important;
    border: 1px solid #FFAB00;
}

.section-heading {

    h4 {
        @include font-style(24px, 400);
        color: $grey-400;
    }

    h2 {
        @include font-style(48px, 400);
        position: relative;
        color: $grey-400;

        &::after {
            content: "";
            position: absolute;
            width: 100px;
            height: 1px;
            background: #973A64;
            left: 0;
            bottom: -2px;
        }
    }

    // @include respond-to(xl) {
    //     text-align: center;

    //     h2 {
    //         &::after {
    //             left: 50%;
    //             transform: translate(-50%, 50%);
    //         }
    //     }
    // }
  
    @include respond-to(sm) {
        h4 {
            @include font-style(64px, 400);
        }

        h2 {
            @include font-style(110px, 400);

        }
    }

    @include respond-to(xs) {
        h4 {
            @include font-style(72px, 400);
        }

        h2 {
            @include font-style(120px, 400);

            &::after {
                width: 60px;
            }
        }
    }
}


// Hero Page CSS Start
.hero {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/images/bg-video.svg');
    @include aspect-ratio(16, 6.99);
    height: 100%;
    position: relative;

    &::before {
        position: absolute !important;
        content: '';
        @include aspect-ratio(6.96, 1);
        top: 0;
        background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 85.09%);
        z-index: 1;
    }

    &::after {
        position: absolute !important;
        content: '';
        @include aspect-ratio(6.96, 1);
        transform: scaleY(-1);
        bottom: 0;
        background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.55) 70.09%);
        z-index: 1;
    }

    &-block {
        position: absolute;
        width: 100%;
        height: 100%;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 1;
            .iffi-logo {
                @include auto-adjust-svg(125px, auto);
                cursor: pointer;
            }
        }

        &-content {
            position: absolute;
            z-index: 2;
            bottom: 60px;

            // @include respond-to(lg) {
            //     text-align: center;
            // }

            h5 {
                @include font-style(90px, 700); // Use numeric value for font-weight
                color: white;
                text-shadow: 0px 12px 8px #00000040;
            }

            h4 {
                @include font-style(120px, 900); // Use numeric value for font-weight
                color: white;
                text-shadow: 0px 12px 8px #00000040;
            }
        }
    }

    // @include respond-to(xl) {
    //     // @include aspect-ratio(16, 9);
    //     // background-size: cover;
    //     // background-position: center; 
    //     &-block {
    //         &-content {
    //             h5 {
    //                 line-height: 32px !important;
    //                 text-shadow: 0px 12px 8px #00000040;
    //             }
    //         }
    //     }
    //   }
    @include respond-to(lg) {
        @include aspect-ratio(16, 9);
        background-size: cover;
        background-position: center;

        &-block {
            &-content {
                h5 {
                    line-height: 64px !important;
                    text-shadow: 0px 12px 8px #00000040;
                }
            }
        }
    }

    @include respond-to(md) {
        @include aspect-ratio(16, 9);
        background-size: cover;
        background-position: center;

        &-block {
            &-content {
                h5 {
                    line-height: 48px !important;
                    text-shadow: 0px 12px 8px #00000040;
                }
            }
        }
    }

    @include respond-to(sm) {
        @include aspect-ratio(16, 9);
        background-size: cover;
        background-position: center;

        &-block {

            header {
                .iffi-logo {
                    @include auto-adjust-svg(75px, auto);
                }
            }

            &-content {
                h5 {
                    color: white;
                    @include font-style(160px, 900); // Use numeric value for font-weight
                }

                h4 {
                    @include font-style(160px, 900); // Use numeric value for font-weight
                }

            }
        }
    }

}
.otherhero {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/images/bg-another.svg');
    background-size: cover;
    background-attachment: fixed;
    @include aspect-ratio(16, 6.99);
    height: 100%;
    position: relative;

    &::before {
        position: absolute !important;
        content: '';
        @include aspect-ratio(6.96, 1);
        top: 0;
        background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 85.09%);
        z-index: 1;
    }

    &::after {
        position: absolute !important;
        content: '';
        @include aspect-ratio(6.96, 1);
        transform: scaleY(-1);
        bottom: 0;
        background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.55) 70.09%);
        z-index: 1;
    }

    &-block {
        position: absolute;
        width: 100%;
        height: 100%;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 1;
            .iffi-logo {
                @include auto-adjust-svg(125px, auto);
                cursor: pointer;
            }
        }

        &-content {
            position: absolute;
            z-index: 2;
            bottom: 40%;


            // @include respond-to(lg) {
            //     text-align: center;
            // }

            h5 {
                @include font-style(90px, 700); // Use numeric value for font-weight
                color: white;
                text-shadow: 0px 12px 8px #00000040;
            }

            h4 {
                @include font-style(160px, 900); // Use numeric value for font-weight
                color: white;
                text-shadow: 0px 12px 8px #00000040;
            }
        }
    }

    // @include respond-to(xl) {
    //     // @include aspect-ratio(16, 9);
    //     // background-size: cover;
    //     // background-position: center; 
    //     &-block {
    //         &-content {
    //             h5 {
    //                 line-height: 32px !important;
    //                 text-shadow: 0px 12px 8px #00000040;
    //             }
    //         }
    //     }
    //   }
    @include respond-to(lg) {
        @include aspect-ratio(16, 9);
        background-size: cover;
        background-position: center;

        &-block {
            &-content {
                h5 {
                    line-height: 64px !important;
                    text-shadow: 0px 12px 8px #00000040;
                }
            }
        }
    }

    @include respond-to(md) {
        @include aspect-ratio(16, 9);
        background-size: cover;
        background-position: center;

        &-block {
            &-content {
                h5 {
                    line-height: 48px !important;
                    text-shadow: 0px 12px 8px #00000040;
                }
            }
        }
    }

    @include respond-to(sm) {
        @include aspect-ratio(16, 9);
        background-size: cover;
        background-position: center;

        &-block {

            header {
                .iffi-logo {
                    @include auto-adjust-svg(75px, auto);
                }
            }

            &-content {
                h5 {
                    color: white;
                    @include font-style(160px, 900); // Use numeric value for font-weight
                }

                h4 {
                    font-size: 14.333333vw;
                }

            }
        }
    }

}

// Hero Page CSS End



// whatNew section css
.whatNew {
    padding: 60px 0;
    text-align: center;

    svg {
        @include auto-adjust-svg(434px, auto);

        @include respond-to(md) {
            @include auto-adjust-svg(380px, auto);
        }

        @include respond-to(sm) {
            @include auto-adjust-svg(280px, auto);
        }
    }

    h5 {
        color: $grey-500;
        @include font-style(32px, 400);

        @include respond-to(lg) {
            @include font-style(48px, 400);
        }

        @include respond-to(md) {
            @include font-style(64px, 400);
        }

        @include respond-to(sm) {
            @include font-style(70px, 400);
        }
    }

    &-item {
        display: flex;
        justify-content: space-between;
        padding: 32px 0;
        gap: 30px;
        flex-wrap: wrap;

        @include respond-to(md) {
            justify-content: center;
        }

        section {
            display: flex;
            align-items: center;

            svg {
                width: 60px;
                height: 60px;
            }

            p {
                @include font-style(18px, 400);
                display: flex;
                flex-direction: column;
                align-items: start;

                @include respond-to(md) {
                    @include font-style(32px, 400);
                }

                @include respond-to(sm) {
                    @include font-style(64px, 400);
                }
            }
        }
    }
}

// whatNew section css end

// .highlights css
.highlights {
    .owl-carousel .owl-nav.disabled {
        display: flex !important;
    }

    .owl-nav {
        position: absolute;
        top: -32px;
        right: 0;
        display: flex;
        gap: 10px;

        button.owl-next {
            width: 24px;
            height: 24px;
            background: url(../images/arrow-right-svgrepo.svg) !important;

            span {
                display: none;
            }
        }

        button.owl-prev {
            width: 24px;
            height: 24px;
            transform: rotate(180deg);
            background: url(../images/arrow-right-svgrepo.svg) !important;

            span {
                display: none;
            }
        }

        .owl-prev.disabled,
        .owl-next.disabled {
            opacity: 0.7;
        }
    }

    .card {
        box-shadow: 0px 4px 4px 0px #A9A3A4, 0px 0px 4px 0px #A9A3A4;
        border-radius: 12px;

        img {
            @include aspect-ratio(0.97, 1);
            padding: 0;
        }
    }
}

// .highlights css end





// screening css start
.screening {
    padding: 6rem 0;

    @include respond-to(xl) {
        max-width: 100% !important;
    }


    &-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 48px;

        @include respond-to(xl) {
            max-width: 100% !important;
        }

        @include respond-to(lg) {
            flex-direction: column;
            align-items: center;
        }

        h4 {
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 400;
            font-family: "Sora", sans-serif;
            padding: 26px 0;
            width: calc(100% - 185px);
            margin-left: auto;
            color: $grey-400;

            @include respond-to(xl) {
                width: calc(100% - 165px);
            }

            @include respond-to(lg) {
                width: calc(100% - 185px);

            }

            @include respond-to(xs) {
                width: calc(100% - 165px);
            }
        }

        img {
            width: 163px;
            height: 225px;
            position: absolute;
            top: 0;

            @include respond-to(xl) {
                width: 145px;
                height: 200px;
            }

            @include respond-to(lg) {
                width: 163px;
                height: 225px;
            }

            @include respond-to(xs) {
                width: 145px;
                height: 200px;
            }
        }

        &-card {
            max-width: 320px;

            @include respond-to(xl) {
                max-width: 275px;
            }

            @include respond-to(lg) {
                max-width: 320px;
            }

            &-block {
                background: $gradientOne;



                &-heading {
                    font-size: 12px;
                    font-weight: 400;
                    font-family: "Sora", sans-serif;
                    gap: 10px;
                    width: calc(100% - 185px);
                    padding-right: 15px !important;
                    margin-left: auto;
                    padding: 27px 0;
                    color: white;

                    @include respond-to(xl) {
                        width: calc(100% - 165px);
                    }

                    @include respond-to(lg) {
                        width: calc(100% - 185px);
                    }

                    @include respond-to(xs) {
                        width: calc(100% - 165px);
                        font-size: 11px;
                    }

                    span {
                        &:nth-child(2) {
                            text-decoration: underline;
                            color: $grey-100;
                            font-weight: 300;
                        }
                    }
                }

                ul {
                    padding: 15px 30px;
                    margin-bottom: 0;
                    font-size: 12px;
                    font-weight: 400;
                    font-family: "Sora", sans-serif;
                    color: white;

                    @include respond-to(xs) {
                        padding-top: 8px !important;
                    }
                }
            }
        }
    }

}

// screening css end



// newsUpdates css start
.newsUpdates {

    &-item {
        height: 400px;
        border-radius: 12px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        p {
            position: absolute;
            bottom: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%),
                linear-gradient(89.64deg, rgba(0, 0, 0, 0) 0.21%, rgba(0, 0, 0, 0.5) 99.59%),
                linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
            padding: 15px 10px 25px;
            font-size: 16px;
            font-weight: 400;
            font-family: "Sora", sans-serif;
            color: white;

            @include respond-to(xs) {
                font-size: 14px;
            }
        }
    }
}

// newsUpdates css end



// emptybox css start

.emptybox {
    background: #000000BF;
    padding: 60px 0;

    #owl-three {}
}

// emptybox css end

// socialMedia css start
.socialMedia {
    padding-bottom: 48px;
    padding-top: 48px;

    main {
        display: flex;
        gap: 30px;

        @include respond-to(xl) {
            flex-direction: column;
        }

        section {
            &:nth-child(1) {
                width: 60%;
                height: 460px;
                position: relative;

                @include respond-to(xl) {
                    width: 100%;
                }

                @include respond-to(sm) {
                    height: 250px;
                }

                img {
                    box-shadow: 0px 4px 4px 0px #A9A3A4, 0px 0px 4px 0px #A9A3A4;
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    border-radius: 4px;
                }

                .bg-grad {
                    position: absolute;
                    background: linear-gradient(329.47deg, rgba(255, 255, 255, 0) 25.67%, #FFFFFF 99.33%);
                    top: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;

                    img {
                        width: 75px;
                        height: 75px;
                        box-shadow: none;
                        border-radius: 0;
                        margin: 18px 50px;

                        @include respond-to(sm) {
                            width: 50px;
                            height: 50px;
                            margin: 18px;
                        }
                    }
                }
            }

            &:nth-child(2) {
                width: 40%;
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                flex-wrap: wrap;
                gap: 30px;

                @include respond-to(xl) {
                    width: 100%;
                }
                @include respond-to(lg) {
                    justify-content: center;
                }
                @include respond-to(md) {
                    justify-content: space-between;
                }
                @include respond-to(sm) {
                    gap: 15px;
                }

                .social-card {
                    position: relative;
                    width: 125px;

                    @include respond-to(xl) {
                        height: 200px;
                    }

                    @include respond-to(sm) {
                        width: 47%;
                    }

                    img {
                        box-shadow: 0px 4px 4px 0px #A9A3A4, 0px 0px 4px 0px #A9A3A4;
                        width: 100%;
                        height: 100%;
                        object-fit: fill;
                        border-radius: 4px;
                    }

                    .bg-grad {
                        position: absolute;
                        background: linear-gradient(329.47deg, rgba(255, 255, 255, 0) 25.67%, #FFFFFF 99.33%);
                        top: 0;
                        z-index: 1;
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;

                        img {
                            width: 24px;
                            height: 24px;
                            box-shadow: none;
                            border-radius: 0;
                            margin: 8px;
                        }
                    }
                }
            }
        }
    }
}

// socialMedia css end

// interComp css start
.interComp {
    padding: 48px 0;

    .interComp-heading {
        font-size: 14px;
        font-weight: 400;
        color: $grey-400;
        margin-bottom: 15px;
    }

    .interComp-mb {
        @include respond-to(lg) {
            margin-bottom: 42px;
        }
    }

    main {
        .feature-film {
            position: relative;

            img {
                width: 100%;
            }

            p {
                position: absolute;
                bottom: 0;
                width: 100%;
                font-size: 32px;
                font-weight: 400;
                font-family: "Sora", sans-serif;
                color: white;
                padding: 8px 15px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%),
                    linear-gradient(89.64deg, rgba(0, 0, 0, 0) 0.21%, rgba(0, 0, 0, 0.5) 99.59%),
                    linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

                @include respond-to(xs) {
                    font-size: 20px;
                }
            }
        }

        #owl-four {
            height: calc(100% - 30.79px);

            .owl-stage-outer {
                height: 100%;

                .owl-stage {
                    height: 100%;

                    .owl-item {
                        height: 100%;

                        .mayLike {
                            height: 100%;
                            position: relative;

                            @include respond-to(xs) {
                                min-height: 200px;
                            }

                            img {
                                height: 100%;
                            }

                            p {
                                position: absolute;
                                bottom: 0;
                                width: 100%;
                                font-size: 20px;
                                text-align: center;
                                font-weight: 400;
                                font-family: "Sora", sans-serif;
                                color: white;
                                padding: 8px 15px;
                                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%),
                                    linear-gradient(89.64deg, rgba(0, 0, 0, 0) 0.21%, rgba(0, 0, 0, 0.5) 99.59%),
                                    linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

                                @include respond-to(xs) {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .interComp-sectionTwo {
            height: 100%;
        }

        .interComp-btn {
            margin-top: 42px;

            @include respond-to(lg) {
                margin-top: 64px;
            }
        }
    }
}

// interComp css end


// director css start
.director {
    padding: 48px 0;

    &-item {
        height: 400px;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        border: 1px solid $grey-500;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        p {
            position: absolute;
            bottom: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%),
                linear-gradient(89.64deg, rgba(0, 0, 0, 0) 0.21%, rgba(0, 0, 0, 0.5) 99.59%),
                linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
            padding: 15px 10px 25px;
            font-weight: 400;
            font-family: "Sora", sans-serif;
            color: white;
            display: flex;
            flex-direction: column;

            span {
                &:nth-child(1) {
                    font-size: 20px;
                    font-family: "Sora", sans-serif;
                    font-weight: 500;
                    color: white;
                }

                &:nth-child(2) {
                    font-size: 12px;
                    font-family: "Sora", sans-serif;
                    font-weight: 500;
                    color: white;
                }
            }

            @include respond-to(xs) {
                font-size: 14px;
            }
        }
    }
}

// director css end



// indianPanorama css start
.indianPanorama {
    padding: 48px 0;
    background-image: url('/assets/images/indianPanorma.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &-item {
        height: 400px;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        border: 1px solid $grey-500;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        p {
            position: absolute;
            bottom: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%),
                linear-gradient(89.64deg, rgba(0, 0, 0, 0) 0.21%, rgba(0, 0, 0, 0.5) 99.59%),
                linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
            padding: 15px 10px 25px;
            font-weight: 400;
            font-family: "Sora", sans-serif;
            color: white;
            display: flex;
            flex-direction: column;

            span {
                &:nth-child(1) {
                    font-size: 20px;
                    font-family: "Sora", sans-serif;
                    font-weight: 500;
                    color: white;
                }

                &:nth-child(2) {
                    font-size: 12px;
                    font-family: "Sora", sans-serif;
                    font-weight: 500;
                    color: white;
                }
            }

            @include respond-to(xs) {
                font-size: 14px;
            }
        }
    }
}

// indianPanorama css end



// spnonser css start
.spnonser {
    .section-heading {

        h4 {
            @include font-style(24px, 400);
            color: $grey-400;
        }

        h2 {
            @include font-style(48px, 400);
            position: relative;
            color: $grey-400;

            &::after {
                content: "";
                position: absolute;
                width: 100px;
                height: 1px;
                background: #973A64;
                left: 50%;
                transform: translate(-50%, 50%);
                bottom: -2px;
            }
        }

        @include respond-to(xl) {
            text-align: center;

            h2 {
                &::after {
                    left: 50%;
                    transform: translate(-50%, 50%);
                }
            }
        }

        @include respond-to(sm) {
            h4 {
                @include font-style(48px, 400);
            }

            h2 {
                @include font-style(96px, 400);

            }
        }

        @include respond-to(xs) {
            h4 {
                @include font-style(72px, 400);
            }

            h2 {
                @include font-style(120px, 400);

                &::after {
                    width: 60px;
                }
            }
        }
    }

    padding: 48px 0;

    &-logo {
        margin-top: 32px;
        display: flex;
        gap: 16px;
        justify-content: center;
        flex-wrap: wrap;

        img {
            width: 137px;
            height: 92px;
            object-fit: contain;
        }
    }

    &-btn {
        margin-top: 60px;
    }
}

// spnonser css end


footer {
    background: linear-gradient(44.43deg, #3E4EB0 -20.27%, #164E47 105%);
    padding: 32px 0;
    position: relative;
    overflow: hidden;
   

    &::before {
        position: absolute;
        content: '';
        background-image: url(/assets/images/peacockiffi.png);
        width: 99%;
        height: 100%;
        top: 0;
        background-repeat: no-repeat;
        background-position: bottom right;
        @include respond-to(lg){
            background-size: 50%;
            opacity: 0.4;
        }
    }

    .f-logo {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;

        div {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;

            @include respond-to(md) {
                width: 100%;
                justify-content: space-between;
            }

            img {
                width: 210px;
                height: 110px;
                object-fit: contain;
                cursor: pointer;

                @include respond-to(lg) {
                    width: 160px;
                    height: 60px;
                }

                @include respond-to(sm) {
                    width: 125px;
                    height: 60px;
                }
            }
        }
    }

    .f-link-box {
        margin-top: 60px;

        .f-link {
            h4 {
                font-size: 18px;
                font-weight: 500;
                font-family: "Sora", sans-serif;
                color: $grey-100;
                margin-bottom: 18px;
            }

            a {
                font-size: 12px;
                font-weight: 300;
                font-family: "Sora", sans-serif;
                color: $grey-200;
                text-decoration: none;
                position: relative;
                width: max-content;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: #973A64;
                    bottom: 0;
                    left: 0;
                    transform: scaleX(0);
                    transform-origin: 100% 50%;
                    transition: transform 300ms ease-in-out;
                }

                &:hover {
                    &::after {
                        transform: scaleX(1);
                        transform-origin: 0% -50%;
                    }
                }
            }
        }
    }

    .f-foot {
        position: relative;
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;

        @include respond-to(sm) {
            margin-top: 150px;
        }

        .social-bar {
            display: flex;
            gap: 15px;
            margin-bottom: 16px;

            img {
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }

        &-copyright {
            color: white;

            p {
                font-size: 12px;
                font-weight: 200;
                font-family: "Sora", sans-serif;
            }

            a {
                font-size: 12px;
                font-weight: 400;
                font-family: "Sora", sans-serif;
                color: white;
            }
        }
    }
}